@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    justify-content: center;
}

#menu-h {
    background-color: rgb(37, 37, 39);
}

#menu-h ul {
    list-style: none;
    padding: 0;
    display: flex; /* Alterado para flexbox */
}

#menu-h ul li {
    position: relative; /* Adicionado para o dropdown */
}

#menu-h ul li a {
    color: #FFF;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition: background .4s;
}

#menu-h ul li a:hover {
    background-color: rgb(201, 227, 8);
}

/* Estilos para o dropdown */
.dropdown {
    position: absolute;
    top: 100%; /* Mudado para garantir visibilidade */
    left: 0;
    background-color: rgb(37, 37, 39);
    display: none;
    z-index: 1; /* Adicionado para garantir que o submenu esteja acima dos outros elementos */
}

.dropdown li {
    display: block;
}

.dropdown li a {
    padding: 10px 20px;
}

#menu-h ul li:hover .dropdown {
    display: block;
}
