{% extends 'sgu_sgu_base.html' %}
{% block title %}SNDO{% endblock %}
{% block content %}
<!-- Security token -->
{% csrf_token %}
<div class="container">
    <div class="row">
    <div class="col-md-15">
      <h1>Sistema de Controle de Usuários</h1>

      <h2>Descrição:</h2>
      <p>O Sistema de Controle de Usuários é uma aplicação web desenvolvida para gerenciar e controlar os usuários de forma eficiente e segura.</p>

      <h2>Funções do Sistema:</h2>
      <ol>
          <li><strong>Cadastro de Usuários:</strong> Permite que administradores criem contas de usuário para utilização do sistema.</li>
          <li><strong>Permissões de Acesso:</strong> O sistema controla as permissões de acesso às funções, garantindo que apenas usuários autorizados possam executar determinadas ações.</li>
          <li><strong>Proteção contra Ações Não Autorizadas:</strong> O sistema protege contra a execução de ações não autorizadas, como editar ou excluir números de documentos de outros usuários, a menos que o usuário seja um superusuário.</li>
      </ol>

      <p>O Sistema de Controle de Usuários foi desenvolvido para tornar o gerenciamento dos usuários mais amigável e organizado, proporcionando maior segurança e facilidade no controle das operações.</p>
    </div>
    </div>
    </div>
    
{% endblock %}

