{% extends 'base.html' %}
{% block title %}Sistemas Online{% endblock %}
{% block content %}
<!-- Security token -->
{% csrf_token %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <header>
                <h1>Bem-Vindo</h1>
            </header>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Descrição:</h2>
            <p>O Sistema de .</p>

            <h2>Funcionalidades do Sistema:</h2>
            <ol>
                <li><strong>Cadastro </strong> Os administradores podem cadastrar.</li>
            </ol>

            <p>O Sistema .</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <footer>
                <h5>Centro de Inteligência da Aeronáutica - CIAER</h5>
            </footer>
        </div>
    </div>
</div>
    
{% endblock %}
